[user]
	name = jonathanleek
	email = jonathan.leek@astronomer.io
[init]
	defaultBranch = main
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[color]
	ui = auto
[diff]
	colorMoved = default

# Enable SSH commit signing after running scripts/bootstrap-keys.sh:
# [gpg]
# 	format = ssh
# [commit]
# 	gpgsign = true
# [user]
# 	signingkey = ~/.ssh/id_ed25519.pub
